# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Temporary files, for example, from tests.
/tmp/

# Ignore package tarball (built via "mix hex.build").
zaq-*.tar

# Ignore assets that are produced by build tools.
/priv/static/assets/
/ingestion-volumes/

# Ignore digested assets cache.
/priv/static/cache_manifest.json

# In case you use Node.js/npm, you want to ignore these.
npm-debug.log
/assets/node_modules/

/priv/python/
/.venv/
# Playwright E2E artifacts
/test/e2e/node_modules/
/test/e2e/test-results/
/test/e2e/playwright-report/

/priv/keys
/priv/licenses
/priv/documents
/priv/archives
/priv/roadmap
context.md

config/dev.secret.exs
.claude/settings.local.json

.env