<ZaqWeb.Components.BOLayout.bo_layout
  current_user={@current_user}
  flash={@flash}
  page_title="Ontology"
  current_path={@current_path}
  features_version={@features_version}
>
  <ZaqWeb.Components.BOLayout.feature_gate :if={not @licensed} feature_name="Ontology" />
</ZaqWeb.Components.BOLayout.bo_layout>
