<ZaqWeb.Components.BOLayout.bo_layout
  current_user={@current_user}
  flash={@flash}
  page_title={@page_title}
  current_path={@current_path}
  features_version={@features_version}
>
  <ZaqWeb.Components.DesignSystem.HistoryBrowser.history_browser
    conversation_count={length(@conversations)}
    status={@status}
    is_admin={@is_admin}
    filter_scope={@filter_scope}
    filter_channel_type={@filter_channel_type}
    filter_team_id={@filter_team_id}
    filter_person_id={@filter_person_id}
    teams={@teams}
    people={@people}
    conversations={@conversations}
    selected={@selected}
    live_action={@live_action}
  />
</ZaqWeb.Components.BOLayout.bo_layout>
